<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Darcy_Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Darcy_Backup.Properties.Settings>
            <setting name="MinimizedOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>830</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1520</value>
            </setting>
            <setting name="List_Entry" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="List_Source" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="List_Destination" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="List_Mode" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="List_Process" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="List_Performed" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="FullScreenOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="List_Next" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="List_Automated" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="List_Status" serializeAs="String">
                <value>90</value>
            </setting>
        </Darcy_Backup.Properties.Settings>
    </userSettings>
</configuration>